* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

html {
    height: 100vh;
    display: flex;
    pointer-events: none;
    overflow: hidden;
}

body {
    margin: auto;
    position: relative;
    width: 240px;
    height: 208px;
    transform: scale(3);
    background-color: #73be82;
}

canvas {
    background-image: url('../assets/map.png');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 240px;
    height: 208px;
    image-rendering: pixelated;
}

.player_display {
    position: absolute;
    top: -12px;
    left: -5px;
    font-size: 4px;
    padding: 1px 2px 1px;
    border-radius: 3px;
    background: #333;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.player_coin {
    margin-left: 1px;
    color: gold;
}